.allproductpage {
  width: 98vw;
  display: flex;

  justify-content: space-between;
}
.allproductfullpage {
  margin-top: 4rem;
}
.allproductpage > h2 {
  margin-bottom: 70px;
}
.allproductcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  width: 80vw;
}
.filtercontainer {
  width: 20vw;
}
.pageloader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
