.countercontainer {
  width: 30vw;
  height: fit-content;
  padding: 20px;
  background-color: rgb(250, 128, 114);
  margin: 20vh 0vh;
  box-shadow: 5px 5px 10px 1px #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counterbtn {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 10px;
}

.counterbtn > button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 3px 2px 3px 0px #000000;
}
