* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.usedetail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.usedetail > h1 {
  margin: 10px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
