* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardcointainer {
  display: flex;
  width: 20vw;
  height: 10vh;
  box-shadow: -4px -2px 8px 0px #605c5c;
  padding: 5px;
  border-radius: 20px;
}
.image {
  width: 20%;
  height: 100%;
  border-radius: 50%;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
}
ul {
  align-items: center;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.delete-buttion {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.deleteicon {
  width: 20px;
  height: 20px;
}
